name: Deploy to GitHub Pages

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Enable web support
        run: flutter config --enable-web

      - name: Get dependencies
        run: flutter pub get

      - name: Build Web
        # Adjust the base-href to your repository name if it's not a custom domain
        # For example: flutter build web --base-href "/sinterklaas_mini_games/"
        # If you are using a custom domain, you can remove --base-href or set it to "/"
        run: flutter build web --base-href "/$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)/" --release

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
